# Google Generative AI
GOOGLE_GENERATIVE_AI_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=NEXT_PUBLIC_SUPABASE_URL=https://eslnvukrgfhywywsvwim.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzbG52dWtyZ2ZoeXd5d3N2d2ltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNDgyNzgsImV4cCI6MjA4OTcyNDI3OH0.d-a1N_XICzwmY3EFGJ_mM5he7P8-jqhjqyFqEyB4Yd8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzbG52dWtyZ2ZoeXd5d3N2d2ltIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE0ODI3OCwiZXhwIjoyMDg5NzI0Mjc4fQ.l6iE3Fq4ORX1-TSTSbF8BvJe_o0MvYv7reXwhfvt-lY

